@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barrio&family=Baumans&family=Big+Shoulders+Text:wght@100&family=Bowlby+One&family=Comic+Neue:wght@300&family=Happy+Monkey&family=Kelly+Slab&family=League+Spartan:wght@100;500;700;800;900&family=Limelight&family=Londrina+Shadow&family=Megrim&family=Nova+Flat&family=Poppins:ital,wght@0,300;0,600;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=VT323&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.top {
    justify-content: space-around;
    display: flex;
    height: 165px;
}

.top > div {
    background-color: #fff;
}

.icons {
    flex: 25%;
    width: 25%;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    padding: 20px 3.5rem;
    /* padding-left: 3.5rem; */
    /* padding-right: 3.5rem; */
    /* padding-right: 4.5rem; */
}

@media only screen and (min-width: 421px) and (max-width: 820px) {
    .top {
        margin-bottom: 5px;
        display: block;
        position: relative;
        height: 25%;
        margin-left: 15rem;
        /* justify-content: center; */
        text-align: center;
        /* align-items: center; */
        width: 100%;
        
    }

    .top > div {
        background-color: rgb(255, 255, 255);
    }

    ul.top__n {
        margin: 0;
        /* left: 50%; */
        display: flex;
        margin-top: 1rem;
        padding-top: 1rem;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .icons {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #date {
        font-size: larger;
        padding: 0;
        margin-top: 1rem;
        font-size: 1.1em;

    }
    .logo__container {
        display: block;
        width: 100%;
        /* margin-top: 5px; */
        /* padding-left: 50%; */
        margin-left: 11rem;
        padding: 0;
    }

    .logo__container img {
        /* height: fit-content; */
        position: relative;
        /* height: auto; */
        /* margin-left: 24rem; */
        /* margin-top: 10rem; */
        width: 100%;
    }

    .social {
        transform: scale(2.5);
    }

    .ind {
        /* position: relative; */
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 9rem;
        margin-top: 1rem;
    }

    .ind h3 {
        padding: 0;
        /* margin-left: 25rem; */
    }
    .top-heading {
        /* background-color: aqua; */
        display: block;
        max-width: 18rem;
        max-height: 34rem;
        width: 5rem;
        margin-left: -4rem;
        height: 7rem;
    }
    .row {
        /* background-color: bisque; */
        text-align: left;
        /* max-height: max-content; */
        max-height: 35rem;
        width: 26.2rem;

    }
    .col-md-6 {
        /* background-color: aliceblue; */
        text-align: left;
        max-width: min-content;
        padding: 1rem;
    }
    .card-left {
        /* background-color: #ff3030; */
        /* text-align: justify; */
        margin-top: -1rem;
        min-width: 10rem;
        max-width: 3rem;
        margin-left: 3rem;
        width: max-content;
        width: 20em;
        /* padding-right: -4rem; */
    }
    .card-body{
        /* background-color: cadetblue; */
        width: 9rem;
        font-size: .5rem;
        max-height: 2rem;
    }
    .card-title{
        /* background-color: azure; */
        font-size: .5rem;
        max-width: 7rem;
    }
    .card-text-my-2{
        /* background-color: violet; */
        width: 6rem;
        font-size: .5rem;
    }
    .card-right{
        /* background-color: blue; */
        width: 6rem;
        padding-bottom: 1rem;
        margin-left: -1rem;
        margin-top: -1rem;
        font-size: .4rem;
    }
    .pov-card {
        /* background-color: aqua; */
        margin-left: 16rem;
        margin-bottom: -20rem;
        top: -32rem;
        width: 5px;
        max-width: 10rem;
        /* max-height: 14rem; */
    }
    .top-card{
        /* background-color: darkgreen; */
        max-height: 4rem;
       width: 7rem;
       max-width: 3rem;
    }
    .card-section2-main{
        /* background-color:cyan; */
        width: 26rem;
        /* right: 3px; */
        margin-left: 14rem;
        margin-bottom: 7rem;
    }
    .card-section4-left-main{
        /* background-color: plum; */
        width: 14rem;
        margin-left: -1rem;
    }
    .section4-right-main .card{
        /* background-color: aquamarine; */
        width: 14rem;
        margin-left: -2rem;
    }
   
}

@media only screen and (max-width: 420px) {
    
    .top {
        margin-bottom: 5px;
        display: block;
        position: relative;
        height: 25%;
        margin-left: 25rem;
        /* justify-content: center; */
        text-align: center;
        /* align-items: center; */
        width: 100%;
        
    }

    .top > div {
        background-color: rgb(255, 255, 255);
    }

    ul.top__n {
        margin: 0;
        /* left: 50%; */
        display: flex;
        margin-top: 1rem;
        padding-top: 1rem;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .icons {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #date {
        font-size: larger;
        padding: 0;
        margin-top: 1rem;
        font-size: 1.1em;

    }
    .logo__container {
        display: block;
        width: 100%;
        /* margin-top: 5px; */
        /* padding-left: 50%; */
        margin-left: 11rem;
        padding: 0;
    }

    .logo__container img {
        /* height: fit-content; */
        position: relative;
        /* height: auto; */
        /* margin-left: 24rem; */
        /* margin-top: 10rem; */
        width: 100%;
    }

    .social {
        transform: scale(2.5);
    }

    .ind {
        /* position: relative; */
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 9rem;
        margin-top: 1rem;
    }

    .ind h3 {
        padding: 0;
        /* margin-left: 25rem; */
    }
    .line {
        left: 4rem;
    }
    .top-heading {
        /* background-color: aqua; */
        display: block;
        max-width: 23rem;
        max-height: 67rem;
        width: 5rem;
        margin-left: -2.5rem;
        height: 7rem;
    }
    .row {
        /* background-color: bisque; */
        text-align: left;
        max-height: max-content;
        width: 23rem;
    }
    .col-md-6 {
        /* background-color: aliceblue; */
        text-align: left;
        max-width: min-content;
        padding: 1rem;
    }
    .card-left {
        /* background-color: #ff3030; */
        text-align: justify;
        margin-top: 1rem;
        max-width: 12rem;
        
    }
    .card-body{
        /* background-color: cadetblue; */
        width: 19rem;
        font-size: .5rem;
        max-height: 2rem;
    }
    .card-title{
        /* background-color: azure; */
        font-size: .5rem;
        max-width: 12rem;
    }
    .card-text-my-2{
        /* background-color: violet; */
        width: 6rem;
        font-size: .5rem;
    }
.card-right{
    /* background-color: blue; */
    width: 8rem;
    padding-bottom: 3rem;
    margin-left: 14rem;
    margin-top: -24rem;
    font-size: .4rem;
}
.card-logo{
/* background-color: hotpink; */
font-size: .5rem;
}


.pov-card {
    /* background-color: aqua; */
    margin-left: -1rem;
    margin-bottom: 9rem;
    top: rem;
    width: 2px;
    /* max-height: 14rem; */
}
.top-card{
    /* background-color: darkgreen; */
    max-height: 4rem;
   width: 22rem;
}

.pov-card-right-col-md-12{
    /* background-color: darkorange; */
    width: 23rem;
}
.pov-card-right-reader-editor-col-md-12-my-4{
/* background-color: darkkhaki; */
    margin-bottom: 5em;
    width: 23rem;
}
.card-section2-main{
    /* background-color:cyan; */
    width: 23rem;
    right: 3px;
    margin-left: 23rem;
    margin-bottom: 15rem;
}
.col-md-3{
    /* background-color: gray; */
    /* display: block; */
    padding-right: 2px;
    width: 11.3rem;
    margin-left: 2px;
}
.card-section2-my-2{
    /* background-color: greenyellow; */
width: 10rem;
}
.card-body-section2-my-2{
    /* background-color: blueviolet; */
    width: 11rem;
}
.card-section4-left-main{
    /* background-color: plum; */
    width: 23rem;
    margin-left: -1rem;
}
.section4-right-main {
    /* background-color: palegoldenrod; */
    margin-left: -1rem;
    width: 23rem;
    margin-top: rem;
}
.section4-right-main .card{
    /* background-color: aquamarine; */
    width: 22rem;
}
.card-my-2{
    /* background-color: darkolivegreen; */
    /* width: 2rem;
    margin-left: 20rem; */
}
.col-md-6{
    /* background-color: darkmagenta; */
    width: 22rem;
}
.card-section5-main{
    /* background-color: tan; */
   max-height: min-content;
}
.my-1{
    /* background-color: yellow; */
    max-block-size: 56px;
}


}
.icons p {
    font-size: 0.7em;
    padding-left: 40px;
}

.top__n {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.top__n a{
    /* vertical-align: middle; */
    margin: 0px;
    text-decoration: none;
    padding: 1px;
    border-radius: 50%;
    height: 25px;
    text-align: center;
    width: 25px;
    background-color: rgb(255, 234, 48);
    color: #000;

}

.top__n a:hover{
    color: #fff;
    background-color: rgb(255, 48, 48);
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    border-radius: 50%;
}

.social {
    margin: 4px;
    display: flex;
    flex-direction: row;
    transform: scale(1.1);
}

.bx {
    /* margin-left: 5px; */
    margin-top: 3.5px;
    text-align: center;
}

.logo__container {
    width: 45%;
    padding: 20px 50px;
    /* text-align: center; */
    display: flex;
    /* margin: 0px 50px; */
    flex: 50%;
    justify-content: center;
    align-items: center;
}

.logo__container img {
    justify-content: space-around;
    /* align-items: center; */
    /* margin:10px 25%; */
    /* padding-bottom: 10px; */
    height: 100%;
    /* width: 40%; */
}

.ind {
    /* padding: 25px 0; */
    /* margin: 0px 50px; */
    flex: 25%;
    width: 25%;
    padding: 20px 3.5rem;
    /* padding-right: 120px; */
}

.ind h3{
    padding: 7px 15px;
    margin: 15px;
    text-align: center;
    width: 14rem;
    font-size: 1em;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: rgb(255, 234, 48);
    border-radius: 25px;
    font-weight: 600;
}

.ind h3:hover{
    /* padding: 5px; */
    background-color: #ff3030;
    color: #fff;
    cursor: pointer;
}

/* .navbar {
    text-align: center;
    height: 40px;
    background-color: rgb(255, 234, 48);
}

.nav__link {
    font-size: small;
    font-weight: 600;
    list-style-type: none;
  
    
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav__link li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.nav__link li a:hover {
    color: #ff3030;
    text-decoration: none;
}

.bxs-home, .bx-search {
    transform: scale(1.1);
} */

